table {
  border: 1px solid $neutral-light;
  font-size: .8rem;
  line-height: 1.4em;
  text-align:right;
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: $neutral-dark;
    color: $neutral-light;
    tr th {
      padding: .5em;
      font-weight: normal;
    }
  }

  tr {
    border-bottom: 1px solid $neutral-light;
  }

  th,
  td {
    padding: .3em;
  }

  td.description,
  th.description {
    text-align: left;
    text-indent: 1em;
  }

  tr, td, th {
    transition: all .1s linear;
  }
}

tr {
  // 7 columns
  th {
    width: 10%;
  }

  th.description {
    width: 20%;
  }

  td.description::before {
    content: "+ ";
  }

  &.open {
    border-bottom: 1px solid $neutral-medium;
    td {
      font-weight: bold;
    }
    td.description::before {
      content: "− ";
    }
  }
}

tr.security {
  background-color: $primary-light;
  border-style: none;
  border-left: 1px solid $neutral-medium;
  border-right: 1px solid $neutral-medium;
}

tr.book + tr.security {
  border-top: 1px solid $neutral-medium;
  td {
    padding: 1em .2em .2em;
  }
}

.gain {
  color: $green;
}

.loss {
  color: $red;
}
