table {
  // border-right: 1px solid $neutral-light;
  font-size: .85rem;
  line-height: 1.4em;
  text-align:right;
  width: 70%;
  border-collapse: collapse;

  thead {
    // background-color: $neutral-dark;
    color: lighten($neutral-dark,50%);
    font-weight: 200;
    font-size: 0.9rem;
    border-bottom: 2px solid lighten($neutral-medium,20%);
    tr th {
      padding: .5em;
      font-weight: normal;
    }
  }

  tr {
    border-bottom: 1px solid $neutral-light;

    &:nth-child(even) {
      background-color: #f5f5f7;
    }
  }

  th,
  td {
    padding: .3em;
  }

  td.description,
  th.description {
    text-align: left;
    text-indent: 1em;
  }

  tr, td, th {
    transition: all .05s linear;
  }
}

tr {
  // 7 columns

  th {
    width: 10%;
  }

  th.description {
    width: 20%;
  }

  td.description::before {
    content: "+ ";
  }

  &.open {
    border-bottom: 1px solid darken($neutral-light,10%);
    td {
      font-weight: bold;
    }
    td.description::before {
      content: "− ";
    }
  }
}

tbody tr {

  &:hover {
    background-color: #e0f0ff;
    border-bottom: 1px solid #c7e2fe;
    cursor: pointer;
  }
}


tr.primary,
tr.secondary {
  td {
    padding: .4em;
  }

  &.open {
    padding: 1em .4em .4em;
  }
}

tr.secondary {
  // background-color: $secondary-light;
  border-style: none;
  // border-left: 1px solid $neutral-medium;
  // border-right: 1px solid $neutral-medium;

  &:hover {
    // background-color: darken($secondary-light, 5%)
  }
}

tr.security {
  // background-color: $primary-light;
  border-style: none;
  // border-left: 1px solid $neutral-medium;
  // border-right: 1px solid $neutral-medium;

  &:hover {
    // background-color: darken($primary-light, 5%)
  }
}

tr.primary + tr.secondary {
  border-top: 1px solid $neutral-medium;
  td {
    padding-top: 1em;
  }
}

table {
  tr.secondary {
    .description {
      text-indent: 2em;
    }
  }
}

table {
  tr.security {
    .description {
      text-indent: 3em;
    }
  }
}

.gain {
  color: $green;
}

.loss {
  color: $red;
}

.securities {
  float: left;
}