@import 'colors';
@import 'tables';
@import 'toggle';
@import 'menu';

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  margin: 0;
  height: 101%;
}

.content {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 1200px;
}
