<html><head></head>
<body>
    Source: <a href="https://docs.google.com/spreadsheets/d/14nOPKSpBDELt2Qd05_Mn_1dFLwp4mSz9zQLrSoE607A/edit#gid=1872073879">Automatically-updated Google Sheet</a>
  <div>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR52Jxw2_8WktVSi2ZYSC04MfaqHnyDJgXwyzE5WmRXxMTHbSsXbtI_erXqbZc4tkQ2Nv0hd3n6hw7L/pubchart?oid=143613419&format=interactive"></iframe>
  </div>
  <div>
    <iframe width="375" height="350" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR52Jxw2_8WktVSi2ZYSC04MfaqHnyDJgXwyzE5WmRXxMTHbSsXbtI_erXqbZc4tkQ2Nv0hd3n6hw7L/pubhtml?gid=208447794&single=true&widget=false&headers=false&chrome=false"></iframe><br />
    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vR52Jxw2_8WktVSi2ZYSC04MfaqHnyDJgXwyzE5WmRXxMTHbSsXbtI_erXqbZc4tkQ2Nv0hd3n6hw7L/pub?gid=208447794&single=true&output=pdf">Download PDF</a>
  </div>
</body>
</html>
